<div class="main">
<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Rover</mat-label>
    <mat-select [(ngModel)]="rover" name="rovers">
      <mat-option *ngFor="let rove of rovers" [value]="rove">
        {{rove}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Camera</mat-label>
    <mat-select [(ngModel)]="camera" name="cameras">
      <mat-option *ngFor="let cam of cameras" [value]="cam.name">
        {{cam.full}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Sol</mat-label>
    <input matInput [(ngModel)]="sol">
  </mat-form-field>

   <button mat-raised-button  color="primary"(click)="getData()">Get photos</button>
</div>

  <ng-container *ngIf="message">
    <h1 class="message">{{message}}</h1>
  </ng-container>

<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let el of list|slice:0:limit"><img mat-card-image src="{{el.img_src}}" alt="{{el.id}}"></mat-list-item>

</mat-list>


<ng-container *ngIf="loaded && list.length>limit">


  <button classs="load" mat-raised-button  color="primary"(click)="loadMore()">Load More...</button>
</ng-container>
</div>



